<f:comment><!-- SF/JW: Use this as a global CSS definition --></f:comment>

<style type="text/css">
  /* Font Definitions */
  /* If we want to use special fonts, they have to be loaded from the customers domain directly. All url parameters have to be adjusted, if needed! */
  /* nunito-regular - latin */


  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
    url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-regular.woff') format('woff'), /* Modern Browsers */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
  }

  /* nunito-800 - latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
    url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-800.woff') format('woff'), /* Modern Browsers */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://6602-luxletter.ddev.site/typo3conf/ext/jwmusterprojekt10/Resources/Public/Fonts/Nunito/nunito-v12-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
  }
</style>
<!-- Progressive Enhancements : BEGIN -->
<style>

  /* What it does: Hover styles for buttons */
  .button-td,
  .button-a {
    transition: all 100ms ease-in;
  }

  .button-td-primary:hover,
  .button-a-primary:hover {
    background: #555555 !important;
    border-color: #555555 !important;
  }

  /* Media Queries */
  @media screen and (max-width: 480px) {
    td.stack-column-center {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
      direction: ltr !important;
      /*text-align: center !important;*/
    }
  }

  @media screen and (max-width: 480px) {

    /* What it does: Forces table cells into full-width rows. */
    .stack-column,
    .stack-column-center {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
      direction: ltr !important;
    }

    /* And center justify these ones. */
    .stack-column-center {
      /*text-align: center !important;*/
    }

    /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
    .center-on-narrow {
      text-align: center !important;
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      float: none !important;
    }

    table.center-on-narrow {
      display: inline-block !important;
    }

    /* What it does: Adjust typography on small screens to improve readability */
    .email-container p {
      font-size: 17px !important;
    }
  }

</style>
<!-- Progressive Enhancements : END -->
